.calculator {
  margin: 0 auto;
  background-color: rgb(233, 229, 235);
  border-color: rgb(195, 187, 187);
  border-radius: 5px;
  height: 280px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.btn {
  margin: 4px;
  width: 20px;
  flex: 1 1 30%;
  max-width: 18%;
  box-sizing: border-box;
}

.display {
  width: 180px;
  height: 40px;
  margin: 8px auto;
  display: block;
}

.btnContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}